#container {
    width: 520px;
    height: 520px;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    border: 3px solid black;
}

/* this is just to test if I made the 16x16 grid*/
/*.square {
    border: 1px solid black;
}*/